/* SchoolPage.css */
.school-page-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1em;
  }
  
  .school-info {
    flex: 1;
  }
  
  .majors-list {
    flex: 1;
    text-align: right;
    padding-left: 2em;
  }
  
  .majors-list ul {
    list-style: none;
    padding: 0;
  }
  
  .majors-list li {
    margin-bottom: 8px;
  }
  
  .skola-logo {
    max-width: 10em;
  }
  
.brautir {
  border: 2px solid #333;
  text-align: center;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
}
.skola_texti{
  border: 2px solid #333;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
}
.location_skoli {
  margin-top: 20px;
  border: 2px solid #333;
  text-align: center;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
}
.umsoknir_skoli{
  margin-top: 20px;
  border: 2px solid #333;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
}